*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --orange-red: #ff5e5b;
  --grey: #d8d8d8;
  --ivory: #FFFFEA;
  --blue: #00CECB;
  --yellow: #FFED66;
}


html, body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--orange-red);
}

body {
  padding: 30px;
}

body, .mainContainer, 
.dieContainer, .held {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  flex-direction: column;
  background-color: var(--ivory);
  height: 500px;
  max-width: 750px;
  border-radius: 25px;
  justify-content: space-evenly;
  padding: 10px 25px;
}

.diceContainer {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.mainContainer,
.dieContainer {
  box-shadow: 0px 0px 5px 3px var(--grey);
}

h2 {
  padding: 0;
  margin: 0;
}

.dieContainer {
  border: 3px solid var(--blue);
  background-color: var(--yellow);
}

.dieContainer,
.held {
  height: 60px;
  width: 60px;
  font-size: 1.5rem;
  border-radius: 15px;
  text-align: center;
}

.held {
  border: 3px solid var(--yellow);
  background-color: var(--orange-red);
}

.dieContainer:hover,
.held:hover {
  background-color: var(--blue);
  border: 3px solid var(--yellow);
}

.info {
  height: 25px;
  font-weight: 600;
}

.rollBtn{
  background-color: var(--blue);
  color: var(--ivory);
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 50px;
  font-size: 1.2rem;
  font-family: inherit;
}

.dieContainer,
.rollBtn:hover,
.held {
  cursor: pointer;
}

.rollBtn:hover {
  background-color: var(--orange-red);
}

.rollBtn:active {
  background-color: var(--orange-red);
  color: var(--ivory);
  box-shadow: inset 5px 5px 10px -3px var(--blue);
}